*.ps1
.env
data/rules/chromaDB/
data/rules/_backup/
data/rules/dnd_5e_data/
5e-srd-api/
5e-database/
_backup/
backend/app/agents/__pycache__/
*.pyc
backend/data/rules/dnd_5e_data/
backend/app/__pycache__/
backend/app/memory/__pycache__/episodic_store.cpython-311.pyc
backend/data/rules/ChromaDB/
