version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - neo4j
    volumes:
      - ./backend/app:/code/app

  neo4j:
    image: neo4j:5.17.0
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data
  frontend:
    build: ./frontend
    command: npm run dev # Use dev mode for HMR
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app # Mount source code for live updates
      - /app/node_modules # Avoid overwriting node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000

volumes:
  neo4j_data:
